.pizza-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  height: 250px;
  width: 400px;
  padding: 30px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.btn{
  outline: none;
  background-color: dodgerblue;
  border: none;
  border-radius: 10px;
  padding: 10px;
}